html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigCounter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigCounter div {
  font-size: 120px;
  line-height: 120px;
  color: white;
  padding: 10px;
  margin: 3px;
}

.btn {
  font-size: 60px;
}
